<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Liste clients</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>

<body>

<div id="wrapper">
    <div class="gray-bg">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-9">
                <h2><a href="/admin/profil">Liste des clients</a></h2>
                <h3><a href="/auth/logout">Déconnexion</a></h3>
            </div>
        </div>
        <div class="row wrapper border-bottom white-bg">
            <div class="col-lg-offset-2">
                <h2>Clients</h2>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                {% if clients is defined %}
                {% for client in clients %}
                {% if (not client.blacklist) %}
                <div class="col-lg-3" style="text-align: center">
                    <div class="contact-box center-version">
                        <i class="fa fa-user fa-5x"></i>
                        <h3 class="m-b-xs"><strong>{{ client.prenom }} {{ client.nom }}</strong></h3>
                        <ul class="list-unstyled m-t-md">
                            <li>
                                <span class="fa fa-envelope m-r-xs"></span>
                                <label>Email :</label>
                                {{client.adresse_email }}
                            </li>
                            <li>
                                <span class="fa fa-phone m-r-xs"></span>
                                <label>Téléphone :</label>
                                {{ client.telephone }}
                            </li>
                        </ul>
                        <a type="button" href="/admin/blacklist/{{client.adresse_email}}"><button class="btn btn-danger"><i class="fa fa-ban"></i></button></a>
                    </div>
                </div>
                {% endif %}  
                {% endfor %}
                {% endif %} 
            </div>
        </div>

        <div class="row wrapper border-bottom white-bg">
            <div class="col-lg-offset-2">
                <h2>Clients bannis</h2>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                {% if clients is defined %}
                {% for client in clients  %}
                {% if client.blacklist  %}
                <div class="col-lg-3" style="text-align: center">
                    <div class="contact-box center-version">
                        <i class="fa fa-user fa-5x"></i>
                        <h3 class="m-b-xs"><strong>{{client.prenom }} {{ client.nom }}</strong></h3>
                        <ul class="list-unstyled m-t-md">
                            <li>
                                <span class="fa fa-envelope m-r-xs"></span>
                                <label>Email :</label>
                                {{ client.adresse_email }}
                            </li>
                            <li>
                                <span class="fa fa-phone m-r-xs"></span>
                                <label>Téléphone :</label>
                                {{ client.telephone }}
                            </li>
                        </ul>
                        <a type="button" href="/admin/unblacklist/{{client.adresse_email}}"><button class="btn btn-primary"><i class="fa fa-user-plus"></i></button></a>
                    </div>
                </div>
                {% endif %}  
                {% endfor %}
                {% endif %}  
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
<script src="/static/js/plugins/pace/pace.min.js"></script>

</body>
</html>
