<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profil administrateur</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../static/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link href="../static/css/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="../static/css/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>

    <link href="../static/css/animate.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>

<body>

<div id="wrapper">
    <div class="gray-bg">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Profil administrateur</h2>
                <h3><a href="/auth/logout">Déconnexion</a></h3>
            </div>

        </div>
        <div class="row wrapper border-bottom white-bg">
            <div>
                <h2 style="text-align: center">Mes informations :</h2>
            </div>
        </div>
        <div class="row">
            <div class="widget col-lg-offset-4 col-lg-4" style="background-color: #1ab394; color: white">
                <h2>{{ admin.prenom }} {{ admin.nom }}</h2>
                <ul class="list-unstyled m-t-md">
                    <li>
                        <span class="fa fa-envelope m-r-xs"></span>
                        <label>Email :</label>
                        {{ admin.adresse_email }}
                    </li>
                    <li>
                        <span class="fa fa-phone m-r-xs"></span>
                        <label>Téléphone :</label>
                        {{ admin.telephone }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-lg-2"></div>
            <a class="col-lg-3 btn btn-primary dim" style="margin: 0;" type="button" href="/admin/liste-tickets">Voir la liste des tickets <i class="fa fa-list"></i></a>
            <div class="col-lg-2"></div>
            <a class="col-lg-3 btn btn-primary dim" style="margin: 0;" type="button" href="/admin/liste-clients">Voir la liste des clients <i class="fa fa-list"></i></a>
            <div class="col-lg-2"></div>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-offset-2">
                <h2>Calendrier d'intervention</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 18px">
            {% if tickets|length %}
            {% for ticket in tickets %}
            {% if ticket.status == 'accepted' %}
            <div class="col-lg-4">
                <div class="contact-box">
                    <span class="btn-sm btn-warning col-lg-offset-10">Planifié</span><br/>
                    <a href="/admin/ticket/{{ticket.id}}">
                        <div class="col-sm-4">
                            <div style="width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%;">
                                <img alt="image" style="display: inline; margin: 0 auto; height: 100%; width: auto" src="/static/img/{{ticket.photo}}">
                            </div>
                            <div style="text-align: center">
                                <div class="m-t-xs font-bold">Ticket #{{ticket.id }}</div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3><strong>{{ ticket.prenom }} {{ ticket.name }}</strong></h3>
                            <p><i class="fa fa-map-marker"></i> {{ ticket.batiment_nom }} - {{ ticket.adresse }} - {{ ticket.ville }} - {{ ticket.code_postal }}</p>
                            <p><i class="fa m-r-xs"></i>Date: {{ticket.date_intervention }} {{ticket.time_intervention}}</p>
                            <p><i class="fa fa-file-text m-r-xs"></i> {{ticket.description}}</p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
            
        <div class="ibox-content">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="../static/js/plugins/fullcalendar/moment.min.js"></script>
<script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../static/js/inspinia.js"></script>
<script src="../static/js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI  -->
<script src="../static/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- iCheck -->
<script src="../static/js/plugins/iCheck/icheck.min.js"></script>

<!-- Full Calendar -->
<script src="../static/js/plugins/fullcalendar/fullcalendar.min.js"></script>

<script>
    $(document).ready(function() {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

        /* events by tickets / Work arround
         -----------------------------------------------------------------*/

        

        /* initialize the calendar
         -----------------------------------------------------------------*/
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar
            drop: function() {
                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }
            },
            events: [
                {
                    title: 'All Day Event',
                    start: new Date(y, m, 1)
                },
                {
                    title: 'Long Event',
                    start: new Date(y, m, d-5),
                    end: new Date(y, m, d-2)
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d-3, 16, 0),
                    allDay: false
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d+4, 16, 0),
                    allDay: false
                },
                {
                    title: 'Meeting',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                },
                {
                    title: 'Lunch',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                },
                {
                    title: 'Birthday Party',
                    start: new Date(y, m, d+1, 19, 0),
                    end: new Date(y, m, d+1, 22, 30),
                    allDay: false
                },
                {
                    title: 'Click for Google',
                    start: new Date(y, m, 28),
                    end: new Date(y, m, 29),
                    url: 'http://google.com/'
                }
            ]
        });
    });
</script>

</body>
</html>
