<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Voir détails ticket</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>

<body>
    <div id="wrapper">
        <div class="gray-bg">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2><a href="/admin/profil">Détails ticket</a></h2>
                    <h3><a href="/logout">Déconnexion</a></h3>
                </div>
            </div>
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="ibox">
                            <div class="slick_demo_3">
                                <div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-6">
                                                {% if ticket.status == 'refused' %}
                                                <p style="border: red 1px solid; margin-bottom: 15px">
                                                    {{ticket.reason_rejection}}<br/>
                                                    Merci de modifier votre ticket.
                                                </p>
                                                {% endif %}
                                            </div>
                                            {% if (ticket.status == 'refused') %}
                                                <div class="col-lg-3"><span class="btn-sm btn-success col-lg-offset-6">Refusé</span></div>
                                            {% elif (ticket.status == 'accepted') %}
                                                <div class="col-lg-3"><span class="btn-sm btn-warning col-lg-offset-6">Planifié</span></div>
                                            {% elif (ticket.status == 'reviewing') %}
                                                <div class="col-lg-3"><span class="btn-sm btn-danger col-lg-offset-6">En attente</span></div>
                                            {% else %}
                                                <div class="col-lg-3"><span class="btn-sm btn-primary col-lg-offset-6">Terminé</span></div>
                                            {% endif %}
                                        </div>
                                        {% if (ticket.status == 'reviewing') %}
                                        <div style="float: right; margin-right: 6%; margin-top: 15px">
                                            <button class="btn btn-primary dim" type="button" data-toggle="modal" data-target="#modalAcceptedCenter"><i class="fa fa-check"></i></button><br/>
                                            <button class="btn btn-danger dim" type="button" data-toggle="modal" data-target="#modalRefusedCenter"><i class="fa fa-ban"></i></button>
                                        </div>
                                        {% endif %}
                                        {% if (ticket.status == 'accepted') %}
                                        <div class="col-lg-offset-10" style="position: absolute; margin-top: 30px">
                                            <span class="btn-sm btn-default">{{ticket.date_intervention}}</span><br/><br/>
                                            <span class="btn-sm btn-default">{{ticket.time_intervention}}</span>
                                            <div style="float: right; margin-right: 6%; margin-top: 15px">
                                                <button class="btn btn-primary dim" type="button" data-toggle="modal" data-target="#modalDoneCenter"><i class="fa fa-check"></i></button><br/>
                                                <button class="btn btn-danger dim" type="button" data-toggle="modal" data-target="#modalModifyCenter"><i class="fa fa-ban"></i></button>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="carousel slide col-lg-6 col-lg-offset-3" id="carousel4">
                                                <ol class="carousel-indicators">
                                                    <li data-slide-to="0" data-target="#carousel4" class="active"></li>
                                                    <li data-slide-to="1" data-target="#carousel4"></li>
                                                    <li data-slide-to="2" data-target="#carousel4"></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <img alt="image" class="img-responsive" src="/static/img/{{ticket.photo}}" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                </div>
                                                <a data-slide="prev" href="#carousel4" class="left carousel-control">
                                                    <span class="icon-prev"></span>
                                                </a>
                                                <a data-slide="next" href="#carousel4" class="right carousel-control">
                                                    <span class="icon-next"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <h2 style="margin-top: 45px">Ticket #{{ticket.id}}</h2>
                                        <div class="row">
                                            <div class="widget col-lg-offset-2 col-lg-8" style="background-color: #1ab394; color: white">
                                                <h2>{{ticket.prenom}} {{ticket.nom}}</h2>
                                                <ul class="list-unstyled m-t-md">
                                                    <li>
                                                        <span class="fa fa-envelope m-r-xs"></span>
                                                        <label>Email :</label>
                                                        {{ticket.adresse_email}}
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-home m-r-xs"></span>
                                                        <label>Adresse :</label>
                                                        {{ticket.batiment_nom}} - {{ticket.adresse}} - {{ticket.ville}} - {{ticket.code_postal}}
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-arrows m-r-xs"></span>
                                                        <label>Exposition :</label>
                                                        {{ticket.orientation}}
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-phone m-r-xs"></span>
                                                        <label>Téléphone :</label>
                                                        {{ticket.telephone}}
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-file-text m-r-xs"></span>
                                                        <label>Description :</label>
                                                        {{ticket.description}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal accepted-->
    <div class="modal fade" id="modalAcceptedCenter" tabindex="-1" role="dialog" aria-labelledby="modalAcceptedCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAcceptedLongTitle">Accepter le ticket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>Veuillez planifier l'intervention</p>
                    <form class="form-horizontal" action="/admin/ticket/{{ticket.id}}" method="POST">
                        <div class="form-group"><label class="col-lg-4 control-label">Date</label>
                            <div class="col-lg-8"><input type="date" name="date" id="date" placeholder="Date aaaa-mm-dd" class="form-control" style="color: #535353" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-4 control-label">Heure</label>
                            <div class="col-lg-8"><input type="time" name="time" id="time" placeholder="Heure hh:mm" class="form-control" style="color: #535353" required></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary" name="btn" value="accept">Accepter et planifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal refused-->
    <div class="modal fade" id="modalRefusedCenter" tabindex="-1" role="dialog" aria-labelledby="modalRefusedCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRefusedLongTitle">Refuser le ticket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>Veuillez justifier votre refus</p>
                    <form class="form-horizontal" action="/admin/ticket/{{ticket.id}}" method="POST">
                        <textarea id="reason" name="reason" style="width: 100%" rows="6" required></textarea>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" name="btn" class="btn btn-primary" value="refuse">Refuser</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal done-->
    <div class="modal fade" id="modalDoneCenter" tabindex="-1" role="dialog" aria-labelledby="modalDoneCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDoneLongTitle">Ticket fini</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <form class="form-horizontal" action="/admin/ticket/{{ticket.id}}" method="POST">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" name="btn" class="btn btn-primary" value="done">Fini</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal modify-->
    <div class="modal fade" id="modalModifyCenter" tabindex="-1" role="dialog" aria-labelledby="modalModifyCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalModifyLongTitle">Ticket à modifier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <form class="form-horizontal" action="/admin/ticket/{{ticket.id}}" method="POST">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" name="btn" class="btn btn-primary" value="modify">Le modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/static/js/inspinia.js"></script>
    <script src="/static/js/plugins/pace/pace.min.js"></script>

</body>

</html>
