<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profil client</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../static/css/animate.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>

<body>
<div id="wrapper">
    <div class="gray-bg">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Mon profil</h2>
                <h3><a href="/auth/logout">Déconnexion</a></h3>
            </div>
        </div>
        <div class="row wrapper border-bottom white-bg">
            <div>
                <h2 style="text-align: center">Mes informations :</h2>
            </div>
        </div>
        <div class="row">
            <div class="widget col-lg-offset-4 col-lg-4" style="background-color: #1ab394; color: white">
                <button class="btn btn-default" style="color: grey; right: 4%; position: absolute" type="button" data-toggle="modal" data-target="#modalProfileCenter"><i class="fa fa-pencil"></i></button>
                <h2>{{ user['prenom'] }} {{ user['nom'] }}</h2>
                <ul class="list-unstyled m-t-md">
                    <li>
                        <span class="fa fa-envelope m-r-xs"></span>
                        <label>Email :</label>
                        {{ user['adresse_email'] }}
                    </li>
                    <li>
                        <span class="fa fa-phone m-r-xs"></span>
                        <label>Téléphone :</label>
                        {{ user['telephone'] }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top: 18px">
            {% if batiments|length %}
            {% for batiment in batiments %}
            <div class="col-lg-4">
                <div class="contact-box">
                    <form class="form-horizontal" method="POST">
                        <input type="hidden" id="batimentid" name="batimentid" value="{{batiment.id}}">
                        <button class="btn btn-danger" style="float: right; color: white" name="btn" type="submit" value="DeleteBatiment"><i class="fa fa-trash"></i></button>
                    </form>
                    <button class="btn btn-default buildingModify" style="float: right; color: grey;" data-id="{{batiment.id}}#{{batiment.nom}}#{{batiment.adresse}}#{{batiment.code_postal}}#{{batiment.ville}}" type="button" data-toggle="modal" data-target="#modalBuildingModifyCenter"><i class="fa fa-pencil"></i></button>
                    <div class="col-sm-3">
                        <i class="fa fa-building fa-5x"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3><strong>{{batiment.nom}}</strong></h3>
                        <p><i class="fa fa-map-marker"></i> {{batiment.adresse}}</p>
                        <p><i class="fa fa-map-pin"></i> {{batiment.code_postal}} {{batiment.ville}} <i class="fa fa-map-signs"></i></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <button class="col-lg-6 btn btn-primary dim" style="margin: 0;" type="button" data-toggle="modal" data-target="#modalBuildingCenter">Ajouter un bâtiment <i class="fa fa-plus"></i></button>
            <div class="col-lg-3"></div>
        </div>

        <div class="row" style="margin-top: 18px">
            <div class="col-lg-3"></div>
            <a class="col-lg-6 btn btn-primary dim" style="margin: 0;" type="button" data-toggle="modal" data-target="#modalTickets">Créer un nouveau ticket <i class="fa fa-plus"></i></a>
            <div class="col-lg-3"></div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row wrapper border-bottom white-bg">
                <div>
                    <h2>Liste de mes tickets</h2>
                </div>
            </div>

            <div class="row wrapper border-bottom white-bg">
                <div class="col-lg-offset-2">
                    <h2>Tickets refusés</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 18px">
                {% if tickets|length %}
                {% for ticket in tickets %}
                {% if ticket.status == 'refused' %}
                <div class="col-lg-4">
                    <div class="contact-box">
                        <span class="btn-sm btn-success col-lg-offset-9">Refusé</span><br/>
                        <a href="/client/ticket/{{ticket.ticket}}">
                            <div class="col-sm-4">
                                <div style="width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%;">
                                    <img alt="image" style="display: inline; margin: 0 auto; height: 100%; width: auto" src="/static/img/{{ticket.photo}}">
                                </div>
                                <div style="text-align: center">
                                    <div class="m-t-xs font-bold">Ticket #{{ticket.ticket}}</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>{{ticket.prenom}} {{ticket.name}}</strong></h3>
                                <p><i class="fa fa-map-marker"></i> {{ticket.bat}} - {{ticket.adresse}} - {{ticket.ville}} - {{ticket.code_postal}}</p>
                                <p><i class="fa fa-file-text m-r-xs"></i> {{ticket.description}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="row wrapper border-bottom white-bg">
                <div class="col-lg-offset-2">
                    <h2>Tickets en attente</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 18px">
                {% if tickets|length %}
                {% for ticket in tickets %}
                {% if ticket.status == 'reviewing' %}
                <div class="col-lg-4">
                    <div class="contact-box">
                        <span class="btn-sm btn-danger col-lg-offset-9">En attente</span><br/>
                        <a href="/client/ticket/{{ticket.ticket}}">
                            <div class="col-sm-4">
                                <div style="width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%;">
                                    <img alt="image" style="display: inline; margin: 0 auto; height: 100%; width: auto" src="/static/img/{{ticket.photo}}">
                                </div>
                                <div style="text-align: center">
                                    <div class="m-t-xs font-bold">Ticket #{{ticket.ticket}}</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>{{ticket.prenom}} {{ticket.name}}</strong></h3>
                                <p><i class="fa fa-map-marker"></i> {{ticket.bat}} - {{ticket.adresse}} - {{ticket.ville}} - {{ticket.code_postal}}</p>
                                <p><i class="fa fa-file-text m-r-xs"></i> {{ticket.description}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>

            <div class="row wrapper border-bottom white-bg">
                <div class="col-lg-offset-2">
                    <h2>Tickets planifiés</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 18px">
                {% if tickets|length %}
                {% for ticket in tickets %}
                {% if ticket.status == 'accepted' %}
                <div class="col-lg-4">
                    <div class="contact-box">
                        <span class="btn-sm btn-warning col-lg-offset-9">Planifié</span><br/>
                        <a href="/client/ticket/{{ticket.ticket}}">
                            <div class="col-sm-4">
                                <div style="width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%;">
                                    <img alt="image" style="display: inline; margin: 0 auto; height: 100%; width: auto" src="/static/img/{{ticket.photo}}">
                                </div>
                                <div style="text-align: center">
                                    <div class="m-t-xs font-bold">Ticket #{{ticket.ticket}}</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>{{ticket.prenom}} {{ticket.name}}</strong></h3>
                                <p><i class="fa fa-map-marker"></i> {{ticket.bat}} - {{ticket.adresse}} - {{ticket.ville}} - {{ticket.code_postal}}</p>
                                <p><i class="fa fa-file-text m-r-xs"></i> {{ticket.description}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>

            <div class="row wrapper border-bottom white-bg">
                <div class="col-lg-offset-2">
                    <h2>Tickets terminés</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 18px">
                {% if tickets|length %}
                {% for ticket in tickets %}
                {% if ticket.status == 'done' %}
                <div class="col-lg-4">
                    <div class="contact-box">
                        <span class="btn-sm btn-primary col-lg-offset-9">Terminé</span><br/>
                        <a href="/client/ticket/{{ticket.ticket}}">
                            <div class="col-sm-4">
                                <div style="width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%;">
                                    <img alt="image" style="display: inline; margin: 0 auto; height: 100%; width: auto" src="/static/img/{{ticket.photo}}">
                                </div>
                                <div style="text-align: center">
                                    <div class="m-t-xs font-bold">Ticket #{{ticket.ticket}}</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>{{ticket.prenom}} {{ticket.name}}</strong></h3>
                                <p><i class="fa fa-map-marker"></i> {{ticket.bat}} - {{ticket.adresse}} - {{ticket.ville}} - {{ticket.code_postal}}</p>
                                <p><i class="fa fa-file-text m-r-xs"></i> {{ticket.description}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal building -->
<div class="modal fade" id="modalBuildingCenter" tabindex="-1" role="dialog" aria-labelledby="modalBuildingCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBuildingLongTitle">Ajouter un bâtiment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form class="form-horizontal" method="POST">
                    <div class="form-group"><label class="col-lg-4 control-label">Nom du bâtiment</label>
                        <div class="col-lg-8"><input type="text" name="name" placeholder="Nom du bâtiment" class="form-control" style="color: #535353" required></div>
                    </div>
                    <div class="form-group"><label class="col-lg-4 control-label">Ville</label>
                        <div class="col-lg-8"><input type="text" name="city" placeholder="Ville" class="form-control" style="color: #535353" required></div>
                    </div>
                    <div class="form-group"><label class="col-lg-4 control-label">Code postale</label>
                        <div class="col-lg-8"><input type="text" name="postcode" placeholder="Code postale" class="form-control" style="color: #535353" required></div>
                    </div>
                    <div class="form-group"><label class="col-lg-4 control-label">Adresse</label>
                        <div class="col-lg-8"><input type="text" name="address" placeholder="Adresse" class="form-control" style="color: #535353" required></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" name="btn" value="CreateBatiment" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal tickets -->
<div class="modal fade" id="modalTickets" tabindex="-1" role="dialog" aria-labelledby="modalTicketsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTicketsLongTitle">Ajouter un ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    <p>Veuillez renseigner les informations ci-dessous.</p>
                    <div class="form-group"><label class="col-lg-2 control-label">Nom du propriétaire</label>
                        <div class="col-lg-10"><input type="text" name="owner_name" id="owner_name" placeholder="{{user.nom}}" value="{{user.nom}}" class="form-control" disabled></div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Prénom du propriétaire</label>
                        <div class="col-lg-10"><input type="text" name="owner_firstname" id="owner_firstname" placeholder="{{user.prenom}}" value="{{user.prenom}}" class="form-control" disabled></div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10"><input type="email" name="owner_email" id="owner_email" placeholder="{{user.adresse_email}}" value="{{user.adresse_email}}" class="form-control" readonly></div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Téléphone</label>
                        <div class="col-lg-10"><input type="text" name="owner_phone" id="owner_phone" placeholder="{{user.telephone}}" value="{{user.telephone}}" class="form-control" disabled></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Bâtiment</label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" name="building" required>
                                <option value="">Choisir le bâtiment concerné</option>
                                {% if batiments|length %}
                                {% for batiment in batiments %}
                                <option value={{batiment.id}}> Adresse: {{batiment.adresse}}; Ville:  {{batiment.ville}};
                                    Code Postal: {{batiment.code_postal}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Orientation</label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" name="orientation" required>
                                <option value="">Choisir l'orientation du tag sur le bâtiment</option>
                                <option value="Nord">Nord</option>
                                <option value="Nord-Ouest">Nord-Ouest</option>
                                <option value="Nord-Est">Nord-Est</option>
                                <option value="Sud">Sud</option>
                                <option value="Sud-Ouest">Sud-Ouest</option>
                                <option value="Sud-Est">Sud-Est</option>
                                <option value="Est">Est</option>
                                <option value="Ouest">Ouest</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Etage</label>
                        <div class="col-lg-10"><input type="text" name="etage" id="etage" placeholder="n° de l'étage" class="form-control" required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea name="description" id="description" style="width: 100%" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Photo du tag</label>
                        <div class="col-sm-10">
                            <input name="file" id="file" type="file" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="margin-left: 47%">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary" name="btn" class="form-control" value="CreateTicket" type="submit">Créer ticket</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal building modify -->
<div class="modal fade" id="modalBuildingModifyCenter" tabindex="-1" role="dialog" aria-labelledby="modalBuildingModifyCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBuildingModifyLongTitle">Modifier un bâtiment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form class="form-horizontal" method="POST">
                    <input type="hidden" name="id" id="id" placeholder="idt" class="form-control" style="color: #535353" required>
                    <div class="form-group"><label class="col-lg-4 control-label">Nom du bâtiment</label>
                        <div class="col-lg-8"><input type="text" name="name" id="name" placeholder="Nom du bâtiment" class="form-control" style="color: #535353" required></div>
                    </div>
                    <div class="form-group"><label class="col-lg-4 control-label">Ville</label>
                        <div class="col-lg-8"><input type="text" name="city" id="city" placeholder="Ville" class="form-control" style="color: #535353" required></div>
                    </div>
                    <div class="form-group"><label class="col-lg-4 control-label">Code postale</label>
                        <div class="col-lg-8"><input type="text" name="postcode" id="postcode" placeholder="Code postale" class="form-control" style="color: #535353" required></div>
                    </div>
                    <div class="form-group"><label class="col-lg-4 control-label">Adresse</label>
                        <div class="col-lg-8"><input type="text" name="address" id="address" placeholder="Adresse" class="form-control" style="color: #535353" required></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" name="btn" value="ModifyBatiment" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal profile -->
<div class="modal fade" id="modalProfileCenter" tabindex="-1" role="dialog" aria-labelledby="modalProfileCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalProfileLongTitle">Modifier mon profil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form class="form-horizontal" method="POST">
                    <div class="form-group"><label class="col-lg-4 control-label">Prénom</label>
                        <div class="col-lg-8"><input type="text" name="firstname" value="{{ user['prenom'] }}" class="form-control" style="color: #535353" required></div>
                    </div>
                    <div class="form-group"><label class="col-lg-4 control-label">Nom</label>
                        <div class="col-lg-8"><input type="text" name="name" value="{{ user['nom'] }}" class="form-control" style="color: #535353" required></div>
                    </div>
                    <div class="form-group"><label class="col-lg-4 control-label">Téléphone</label>
                        <div class="col-lg-8"><input type="text" name="telephone" value="{{ user['telephone'] }}" class="form-control" style="color: #535353" required></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" name="btn" value="ModifyProfile">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/jquery-3.1.1.min.js"></script>

<script>
    $(document).ready(function () {
        $(document).on("click", ".buildingModify", function () {
            var building = $(this).data('id').split('#');
            $(".modal-body #id").val(building[0]);
            $(".modal-body #name").val(building[1]);
            $(".modal-body #address").val(building[2]);
            $(".modal-body #postcode").val(building[3]);
            $(".modal-body #city").val(building[4]);
        });
    });
</script>
<!-- Mainly scripts -->

<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../static/js/inspinia.js"></script>
<script src="../static/js/plugins/pace/pace.min.js"></script>

</body>
</html>