<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Nouveau profil</title>

  <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/font-awesome/css/font-awesome.css" rel="stylesheet">

  <link href="../../static/css/animate.css" rel="stylesheet">
  <link href="../../static/css/style.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>

<body>
<div id="wrapper">
  <div class="gray-bg">
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Nouveau membre</h2>
      </div>
    </div>
    <div class="row wrapper border-bottom white-bg">
      <div>
        <h2 style="text-align: center">Une dernière étape {{email}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="widget col-lg-offset-2 col-lg-8" style="background-color: #1ab394; color: white">
        <form class="form-horizontal" method="post">
          <div class="form-group"><label class="col-lg-3 control-label">Nom</label>
            <div class="col-lg-9"><input type="text" name="name" id="name" placeholder="Nom" class="form-control" style="color: #535353" required></div>
          </div>
          <div class="form-group"><label class="col-lg-3 control-label">Prénom</label>
            <div class="col-lg-9"><input type="text" name="firstname" id="firstname" placeholder="Prénom" class="form-control" style="color: #535353" required></div>
          </div>
          <div class="form-group"><label class="col-lg-3 control-label">Email</label>
            <div class="col-lg-9"><input type="email" name="email" id="email" placeholder="{{email}}" class="form-control" style="color: #535353" disabled></div>
          </div>
          <div class="form-group"><label class="col-lg-3 control-label">Téléphone</label>
            <div class="col-lg-9"><input type="tel" name="phone" id="phone" placeholder="Téléphone" class="form-control" style="color: #535353" required></div>
          </div>
          <div class="row">
            <div class="col-lg-4"></div>
            <button class="col-lg-4 btn btn-primary dim" style="margin: 0;" type="submit">Créer mon compte</button>
            <div class="col-lg-4"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Mainly scripts -->
<script src="../../static/js/jquery-3.1.1.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../../static/js/inspinia.js"></script>
<script src="../../static/js/plugins/pace/pace.min.js"></script>

</body>
</html>